/* Title */
body {
  display:flex;
  flex-direction: column;
  /*align-items:center;*/
}
.title-main {
  display:flex;
  color: #008a8c;
  font-weight: 800;
  font-size: 5rem;
  font-family: 'Maven Pro',sans-serif;
}
.title-second {
  display:flex;
  color: #008a8c;
  font-weight: 800;
  font-size:2rem;
  font-family: 'Maven Pro',sans-serif;
}
.title-left {
  align-items: flex-start;
  font-size: 1.5rem!important;
}
/* Text */
.text {
  display:flex;
  color: #003964;
  max-width: 50em;
  font-size: 18px;
  font-family: 'Karla',Arial,sans-serif;
}
.text-legend {
  display: flex;
  flex-direction: column;
}
/* logo */
#logo {
 width: 3em;
 height: 4em;
 /*margin-left:10em;*/
 /*margin-right:2em;*/
 /*display:flex;*/
}
/* Page */

#navbar {
  border-bottom: 2px solid #01acaf;
  box-sizing: border-box;
  padding: 3em 1em 3em 1em;
  display:flex;
  flex-direction: start;
  align-items: center;
  width: 100vw;
  height:5vh;
}

#stats {
  display: grid;
}

#stats h4 {
  text-align: center;
}

#stats p {
  text-align: center;
}

div.ag-cell {
  font-size: 10px !important;
  text-align: center;
}

div.ag-header-cell {
  font-size: 9px !important;
  text-align: center;
}
span.ag-header-cell-text {
  width: 100%;
}

li{
  list-style: square;
}

.link {
  color: #008a8c;
  text-decoration : underline;
}

.explanation_block {
  /*width: 48%;*/
  /*margin: 1% auto;*/
  /*border: solid #008a8c;*/
  /*padding: 2%;*/
  border-radius: 6px;
}