/* Title */
body {
  display:flex;
  flex-direction: column;
  /*align-items:center;*/
}
.title-main {
  display:flex;
  color: #008A8C;
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Maven Pro',sans-serif;
  margin-left: 10px;
}
.title-second {
  display:flex;
  color: #003864;
  font-weight: 800;
  font-size:2rem;
  font-family: 'Maven Pro',sans-serif;
}
.title-third {
  display:flex;
  color: #003864;
  font-weight: 600;
  font-size:1.5rem;
  font-family: 'Maven Pro',sans-serif;
}
.title-left {
  align-items: flex-start;
  font-size: 1.5rem!important;
}
/* Text */
.text {
  display:flex;
  color: #003964;
  max-width: 50em;
  font-size: 18px;
  font-family: 'Karla',Arial,sans-serif;
}
.text-green {
  color: #003864;
}
.text-legend {
  display: flex;
  flex-direction: column;
}
/* logo */
#logo {
 width: 3em;
 height: 4em;
 /*margin-left:10em;*/
 /*margin-right:2em;*/
 /*display:flex;*/
}
/* Page */

#navbar {
  border-bottom: 2px solid #01acaf;
  box-sizing: border-box;
  padding: 3em 1em 3em 1em;
  display:flex;
  flex-direction: start;
  align-items: center;
  width: 100vw;
  height:5vh;
}

#stats {
  display: grid;
}

#stats h4 {
  text-align: center;
}

#stats p {
  text-align: center;
}

div.ag-cell {
  font-size: 10px !important;
  text-align: center;
}

div.ag-header-cell {
  font-size: 9px !important;
  text-align: center;
}
span.ag-header-cell-text {
  width: 100%;
}

li{
  list-style: square;
}

.link {
  color: #003864;
  text-decoration : underline;
}

.explanation_block {
  /*width: 48%;*/
  /*margin: 1% auto;*/
  /*border: solid #008a8c;*/
  /*padding: 2%;*/
  border-radius: 6px;
}

.blue-button {
  background: #003864;
}

.space {
  padding-left: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #003864;
}

input:focus + .slider {
  box-shadow: 0 0 1px #003864;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ag_container {
  width: 100%;
  height: var(--grid-height, 300px);
}

.bx--snippet__icon {
  fill: white;
  color: white;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tester {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
}

.stacked-bar-graph {
  width: 100%;
  height: 25px;
  overflow: hidden
}

.rounded-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.stacked-bar-graph span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
}


.bar-3 {
  background: rgb(24, 61, 93);
}

.bar-2 {
  background:#008A8C;
  ;
}

.bar-4 {
  background: rgb(84, 182, 189);
}
.bar-1 {
  background: rgb(202, 231, 227);
}
.bar-5 {
  background: rgb(247, 210, 72);
}
.bar-6 {
  background: rgb(202, 162, 124);
}
.bar-7 {
  background: rgb(157, 181, 183);
}
.bar-legend {
  width:10px;
  height:10px;
  display: inline-block;
}